[submodule "cayenne/cayenne"]
	path = cayenne/cayenne
	url = https://github.com/apache/cayenne.git
[submodule "maven/maven"]
	path = maven/maven
	url = https://github.com/apache/maven.git
[submodule "megamek/megamek"]
	path = megamek/megamek
	url = https://github.com/MegaMek/megamek.git
[submodule "pmd/pmd"]
	path = pmd/pmd
	url = https://github.com/pmd/pmd.git
[submodule "jenkins/jenkins"]
	path = jenkins/jenkins
	url = https://github.com/jenkinsci/jenkins.git
[submodule "storm/storm"]
	path = storm/storm
	url = https://github.com/apache/storm.git
[submodule "hive/hive"]
	path = hive/hive
	url = https://github.com/apache/hive.git
[submodule "drools/drools"]
	path = drools/drools
	url = https://github.com/kiegroup/drools.git

[submodule "buck/buck"]
	path = buck/buck
	url = https://github.com/facebook/buck.git
[submodule "pinpoint/pinpoint"]
	path = pinpoint/pinpoint
	url = https://github.com/naver/pinpoint.git
[submodule "bazel/bazel"]
	path = bazel/bazel
	url = https://github.com/bazelbuild/bazel.git
[submodule "atlas/atlas"]
	path = atlas/atlas
	url = https://github.com/alibaba/atlas.git
