[submodule "cayenne/cayenne"]
	path = cayenne/cayenne
	url = https://github.com/apache/cayenne.git
[submodule "maven/maven"]
	path = maven/maven
	url = https://github.com/apache/maven.git
[submodule "megamek/megamek"]
	path = megamek/megamek
	url = https://github.com/MegaMek/megamek.git
[submodule "pmd/pmd"]
	path = pmd/pmd
	url = https://github.com/pmd/pmd.git
[submodule "jenkins/jenkins"]
	path = jenkins/jenkins
	url = https://github.com/jenkinsci/jenkins.git
[submodule "storm/storm"]
	path = storm/storm
	url = https://github.com/apache/storm.git
